In [1]:

import tensorflow as tf

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
dataset = pd.read_csv("Churn_Modelling.csv")

In [5]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
X = dataset.iloc[:,3:13]

In [7]:
y = dataset.iloc[:,13]

In [8]:





X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [9]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [10]:
Geography = pd.get_dummies(X['Geography'],drop_first = True)

In [11]:
Gender = pd.get_dummies(X['Gender'],drop_first = True)

In [12]:
X = X.drop(["Geography","Gender"],axis = 1)

In [13]:
X = pd.concat([X,Geography,Gender],axis=1)

In [14]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [15]:

from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train =  sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [18]:
#create the Ann model

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU,ELU,ReLU
from tensorflow.keras.layers import Dropout

In [20]:
# initialize the ann
classifier = Sequential()

In [21]:
# addiding the input layer
classifier.add(Dense(units=11,activation = 'relu'))

In [22]:
# addiding the first hidden layer
classifier.add(Dense(units=7,activation = 'relu'))

In [23]:
#adding the second 2nd hidden layer
classifier.add(Dense(units=6,activation = 'relu'))

In [24]:
# adding the ouput layer
classifier.add(Dense(1,activation = 'sigmoid'))

In [25]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [30]:
# early stoping 
early_stoping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [31]:
model_history = classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks=early_stoping)

Epoch 1/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3091 - accuracy: 0.8729 - val_loss: 0.3640 - val_accuracy: 0.8557
Epoch 2/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3093 - accuracy: 0.8714 - val_loss: 0.3649 - val_accuracy: 0.8546
Epoch 3/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3092 - accuracy: 0.8731 - val_loss: 0.3653 - val_accuracy: 0.8565
Epoch 4/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3093 - accuracy: 0.8726 - val_loss: 0.3636 - val_accuracy: 0.8607
Epoch 5/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3083 - accuracy: 0.8718 - val_loss: 0.3644 - val_accuracy: 0.8512
Epoch 6/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3085 - accuracy: 0.8726 - val_loss: 0.3647 - val_accuracy: 0.8569
Epoch 7/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3087 - accuracy: 0.8720 - val_loss: 0.3658 - val_accuracy: 0.8550
Epoch 8/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3074 - accuracy: 0.8737 - val_loss: 0.3746 - val_accuracy: 0.8508
Epoch 9/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3082 - accuracy: 0.8735 - val_loss: 0.3664 - val_accuracy: 0.8557
Epoch 10/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3081 - accuracy: 0.8716 - val_loss: 0.3720 - val_accuracy: 0.8519
Epoch 11/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3073 - accuracy: 0.8737 - val_loss: 0.3671 - val_accuracy: 0.8554
Epoch 12/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3067 - accuracy: 0.8750 - val_loss: 0.3668 - val_accuracy: 0.8550
Epoch 13/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3085 - accuracy: 0.8696 - val_loss: 0.3681 - val_accuracy: 0.8538
Epoch 14/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3078 - accuracy: 0.8729 - val_loss: 0.3666 - val_accuracy: 0.8576
Epoch 15/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3082 - accuracy: 0.8729 - val_loss: 0.3711 - val_accuracy: 0.8569
Epoch 16/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3080 - accuracy: 0.8739 - val_loss: 0.3647 - val_accuracy: 0.8554
Epoch 17/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3076 - accuracy: 0.8735 - val_loss: 0.3693 - val_accuracy: 0.8569
Epoch 18/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3076 - accuracy: 0.8731 - val_loss: 0.3665 - val_accuracy: 0.8535
Epoch 19/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3078 - accuracy: 0.8727 - val_loss: 0.3680 - val_accuracy: 0.8546
Epoch 20/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3077 - accuracy: 0.8735 - val_loss: 0.3648 - val_accuracy: 0.8546
Epoch 21/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3067 - accuracy: 0.8763 - val_loss: 0.3651 - val_accuracy: 0.8550
Epoch 22/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3072 - accuracy: 0.8739 - val_loss: 0.3667 - val_accuracy: 0.8561
Epoch 23/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3070 - accuracy: 0.8711 - val_loss: 0.3687 - val_accuracy: 0.8561
Epoch 24/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3073 - accuracy: 0.8752 - val_loss: 0.3675 - val_accuracy: 0.8557
Epoch 24: early stopping

In [34]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [37]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [38]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1525,   70],
       [ 209,  196]])

In [39]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [40]:
score

0.8605